@model Student_Directory.Models.Major

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Major</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major_Dept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major_Dept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major_Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major_Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major_Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major_Degree)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Major_Num">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
